.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

img {
	position: absolute;
}

.text-block {
	color: white;
	z-index: 999;
	font-size: 3rem;
}
